@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Sono:wght@300&display=swap');

#box_event_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
    border:  1px solid green;
}
    #box_img{
        display: flex;
        justify-content: center;
        align-items: center;
        border:  1px solid rgb(42, 165, 97);
    }
    #box_img img{
        width: 85%;
        height: auto;
    }
    #box_topic_and_date{
        width: 70%;
        height: auto;
        border:  1px solid brown;
    }
        #topic_text h2{
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: #EC3750;
        }
        #date p{
            font-size: 13px;
            font-family: 'Libre Franklin', sans-serif;
            color: rgba(0, 2, 73, 0.54);
        }
        #box_phara{
            font-weight: 400;
            font-size: 20px;
        }
        #box_know_more_btn{
        }
